*{
    margin:0%;
    box-sizing: border-box;
   }
  
   .container{
     display: flex;
     height: 100vh;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     }
   .mydiv{
     height:100%;
     width: 100%;
     background-color:  rgb(72, 11, 100);
     display: flex;
     justify-content: center;
     align-content: center;
   }
   .flexdiv{
     height:100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-content: center;
     flex-wrap: wrap;
   }
  .flexdiv div:nth-child(1){
     background-color: rgb(236, 10, 10);
     height: 50%;
     width: 50%;
      border: solid;
     }
    .flexdiv div:nth-child(2){
     background-color: green;
     height: 50%;
     width: 50%;
      border: solid;
     }
     .flexdiv div:nth-child(3){
     background-color: rgb(235, 183, 15);  
     height: 50%;
     width: 50%;
     border: solid;
     }
     .flexdiv div:nth-child(4){
     background-color: rgb(235, 15, 151);  
     height: 50%;
     width: 50%;
     border: solid;
     }
  
     @media (min-width:600px){
       .container{
       flex-direction: row;
     } }
       
     
     