*{
    margin:0%;
    box-sizing: border-box;
   }
    
   .container{
     height: 100vh;
     color: blanchedalmond;
    }

    .mydiv, .flexdiv{  /* reikia kablelio */
        height: 50%;
    }
    
   .mydiv{
     background-color:  rgb(72, 11, 100);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .flexdiv{
    display: flex;
    flex-wrap: wrap;
   }   
   .flexdiv div{
     height:50%;
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
    .flexdiv div:nth-child(1){
     background-color: rgb(236, 10, 10);
     }
    .flexdiv div:nth-child(2){
     background-color: green;
    }
     .flexdiv div:nth-child(3){
     background-color: rgb(235, 183, 15);  
     }
     .flexdiv div:nth-child(4){
     background-color: rgb(235, 15, 151);
     }
  
     @media screen and (min-width: 768px) {
       .container {
          display: flex;
       }
    .flexdiv, .mydiv{
height: 100%;
width: 50%;
}
     } 
       
     
     